<%- include("header"); -%>

    <div class="event-page-banner-container">
        <div class="text-overlay-container">
            <div class="text-overlay-text">
                Find your next event
            </div>
        </div>
    </div>

    <div class="events-view">
        <% allDates=[]; %> 
        <% for(let i=0;i<events.length;i++){ %>
            <% let flag=-1; %> 
            <% for(let j=0;j<allDates.length;j++){ %> 
                <% console.log(j); %>
                <% if(events[i].eventDate.getDate()==allDates[j].getDate()) {%>
                    <% flag=0; %> 
                    <% break; %>  
                <% } %> 
            <% } %> 
            <% if(flag==-1){ %> 
                <% allDates.push(events[i].eventDate) %> 
                <ul class="events-listed">
                    <li class="events-date-indicator"><%= events[i].eventWeekdayDate %> , <%=events[i].eventMonthDate  %>  <%= events[i].eventNumDate %> </li>
                    <ul class="events-listing-container">
                    <% for(let z=i;z<events.length;z++){ %> 
                        <% if(events[i].eventDate.getDate()===events[z].eventDate.getDate()){ %> 
                            <li class="event-listed">
                                    <div class="event-card">
                                        <span class="event-time">
                                            <%= events[z].eventStartTime %>
                                        </span>
                                        <div class="event-card--row">
                                            <div class="event-organisor">
                                                <span><%= events[z].eventOrg %></span>
                                            </div>
                                            <div class="event-title">
                                                <span> <a class="text-decoration-none text-secondary event-title" href="/showoneevent/<%= events[z].id %>"><%= events[z].eventName %></a></span>
                                            </div>
                                            <div class="event-attendace">
                                                <div class="attending">
                                                    <span>1 going</span>
                                                </div>
                                                <div class="upvotes">
                                                    <span class="upvote ">
                                                        👍
                                                    </span>
                                                    <span class="downvotes"> <%= events[z].upVotes %> </span>
                                                </div>
                                                <div class="downvotes">
                                                    <span class="downvote">
                                                        👎
                                                    </span>
                                                    <span class="downvotes"> <%= events[z].downVotes++ %> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </li>
                        <% } %> 
                    <% } %> 
                    </ul>
                </ul>
            <%  } %> 
        <% } %> 
        
    </div>
</body>
</html>