<%- include("header") -%>

    <div class="event-page-banner-container">
        <div class="text-overlay-container">
            <div class="text-overlay-text">
                <%= event.eventName %>
            </div>
        </div>
    </div>
    <table class="table table-hover table-borderless table-responsive px-4">
        <thead>
          <tr>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Desc</th>
          </tr>
        </thead>
        <tbody>
            <tr>            
              <td class="text-center">Event Name </td>
              <td class="text-center"><%= event.eventName %> </td>
            </tr>
        </tbody>
        <tbody>
          <tr>            
            <td class="text-center">Event Date </td>
            <td class="text-center"><%= event.eventDate %> </td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="text-center">Event Guest </td>
            <td class="text-center"><%= event.eventGuest %> </td>
          </tr>
        </tbody>
        <tbody>
          <tr>            
            <td class="text-center">Event Start Time </td>
            <td class="text-center"><%= event.eventEndTime %> </td>
          </tr>
        </tbody>
        <tbody>
          <tr>            
            <td class="text-center">Event End Time </td>
            <td class="text-center"><%= event.eventEndTime %> </td>
          </tr>
        </tbody>
        <tbody>
          <tr>            
            <td class="text-center">Registered Users </td>
            <td class="text-center"><%= event.registerUsername.length %> </td>
          </tr>
        </tbody>
        <tbody>
          <tr>          
            <td class="text-center">Event Description </td>
            <td class="text-center"><%= event.eventDesc %> </td>
          </tr>
        </tbody>
      </table>
</body>
</html>

